<h1>HELLO welcome to ROKU REMOTE</h1>



<div id="deviceList">
    {{#each devices}}
        <form  method="post" action="/device">
            <button type="submit">{{this.server}}</button>
            <input name="address" hidden="true"   id="address" value={{this.address}}/>
        </form>
        <br>
        <br>
    {{/each}}
</div>